html(lang='es')
  head
    block title
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(charset='utf-8')

  body
    div#page
      nav.nav
        .nav-container
          div
            a(href='index.html')
              img.nav-logo(src='img/logo.png' alt='Navbar logo')
          .nav-option-wrapper
            .nav-option-container
              .nav-option
                a(href='#').nav-option-link
                  span Quienes Somos
              .nav-option
                a(href='#').nav-option-link
                  span Vestidos
              .nav-option
                a(href='#').nav-option-link
                  span Colecciones
              .nav-option
                a(href='faq.html').nav-option-link
                  span Accesorios
            .nav-option-container
              input.nav-option-input(type='text' placeholder='Busca tu Producto')
              .nav-option-icons
                a(href='#')
                  img.nav-option-icons-image(src='img/profile-user.svg' alt='Icono Perfil')
                a(href='#')
                  img.nav-option-icons-image(src='img/email.svg' alt='Icono Email')
                a(href='#')
                  img.nav-option-icons-image(src='img/help.svg' alt='Icono Ayuda')
                a(href='#')
                  img.nav-option-icons-image(src='img/shopping-cart.svg' alt='Icono Carrito de Compras')

          .hamburger-wrapper
            .hamburger-line-container#hamburgerMenu
              .hamburger-line
              .hamburger-line
              .hamburger-line
          .hamburger-menu-container#menuContainer
            .hamburger-menu
              .hamburger-menu-header
                a#hideHamburger
                  img(src='img/close.svg')
              .hamburger-menu-body
                .hamburger-text-container
                  a(href='#')
                    span.hamburger-text Quienes Somos
                .hamburger-text-container
                  a(href='#')
                    span.hamburger-text Vestidos
                .hamburger-text-container
                  a(href='#')
                    span.hamburger-text Colecciones
                .hamburger-text-container
                  a(href='#')
                    span.hamburger-text Accesorios
      .home
        .home-carrousel-desktop
          .home-carrousel-controls
            #carrouselPrevArrow
              img(src='img/arrow.svg')
            #carrouselNextArrow
              img(src='img/arrow.svg')
          .home-carrousel-big
            .item
              img(src='img/banner-1.jpg')
            .item
              img(src='img/banner-1.jpg')
            .item
              img(src='img/banner-1.jpg')
            .item
              img(src='img/banner-1.jpg')
        .home-carrousel-mobile
          .home-carrousel-controls
            #carrouselMobilePrevArrow
              img(src='img/arrow.svg')
            #carrouselMobileNextArrow
              img(src='img/arrow.svg')
          .home-carrousel-small
            .item
              img(src='img/banner-mobile.webp')
            .item
              img(src='img/banner-mobile.webp')
            .item
              img(src='img/banner-mobile.webp')
            .item
              img(src='img/banner-mobile.webp')
        .home-collections.home-section
          .home-collections-action
            h1.font-pink Colecciones
            a(href='#') Ver Todo
          div
            .home-collections-content
              h2.home-collections-title.white-text-shadow Esenciales
              .home-collections-images
                figure
                  img(src='img/collections-1.png')
                figure
                  img(src='img/collections-2.png')
                figure
                  img(src='img/collections-3.png')
            .home-collections-content
              h2.home-collections-title.white-text-shadow Temporadas
              .home-collections-images
                figure
                  img(src='img/collections-4.png')
                figure
                  img(src='img/collections-5.png')
                figure
                  img(src='img/collections-4.png')
        .home-steps.home-section
          figure.separator
            img(src='img/separator.png')
          .home-steps-top
            div
              span Descubre Cómo
              span Diseñas y Decoras
              span Tu Vestido
            figure.dress-1
              img(src='img/dress-1.png')
          .home-steps-bottom
            div
              h1.home-steps-title.white-text-shadow ¡En dos pasos <br> elige el tipo de vestido!
              h2.home-steps-subtitle Y estarás lista para entrar al <br> mundo Little Lemon
              a.home-steps-button(href='#') Conoce más
            figure.dress-2
              img(src='img/dress-2.png')
        .home-decoration.home-section
          h1.home-decoration-title.white-text-shadow Kit de Decoración
          .home-decoration-images
            figure
              img(src='img/circle-1.png')
            figure
              img(src='img/circle-2.png')
            figure
              img(src='img/circle-3.png')
            figure
              img(src='img/circle-4.png')
            figure
              img(src='img/circle-5.png')
          h1.home-decoration-title.white-text-shadow Quienes Somos
          .home-decoration-sections
            div
              figure
                img(src='img/who-1.jpg')
              h2.title Más que un vestido
              span.subtitle una experiencia con <br> muchas sonrisas
            div
              figure
                img(src='img/who-2.jpg')
              h2.title orgullosamente
              span.subtitle una marca Mexicana apoyando <br> el trabajo local y temas e ideas <br> sustentables
            div
              figure
                img(src='img/who-3.jpg')
              h2.title vestidos versátiles
              span.subtitle
                | Nos encanta la moda, y sabemos que los diseños mas lindos son atemporales por ello en
                | cualquier momento, nuestros vestidos son un complemento ideal en tu guardarropa
        .home-gifts.home-section
          figure.separator
            img(src='img/separator.png')
          h1.home-decoration-title.white-text-shadow ¡Regala algo Diferente!
          .home-gifts-content
            h2.home-gifts-subtitle
              | Nos encantan los detalles y estamos seguros que <br> encontraras la colección perfecta para
              | ese momento tan especial
            .home-gifts-images
              figure
                img(src='img/gift.png')
              .embed-responsive-wrapper
                .embed-responsive
                  iframe(src='https://www.youtube.com/embed/HmZKgaHa3Fg')
        .home-newsletter.home-section
          h1
            | Inscríbete a nuestro newsletter y obten notificaciones sobre nuevos productos y promociones
          form.home-newsletter-form
            .home-newsletter-form-input
              input(type='text' placeholder='Escribe tu Email')
              button(type='button')
                img(src='img/paper-plane.svg')
            .home-newsletter-form-terms
              input(type='checkbox')
              span Acepto Terminos y Condiciones
      footer.footer
          .footer-column
            p Categorias
            a(href='#') Props
            a(href='#') Vestidos
            a(href='#') Temporadas
          .footer-column
            p Atención al cliente
            a(href='#') Sobre Little Lemon
            a(href='#') Historia
            a(href='#') Uso y Cuidado del Producto
            a(href='#') Devoluciones
            a(href='#') Garantía
            a(href='#') Información del Producto
            a(href='#') Facturación
          .footer-column
            p Mi Cuenta
            a(href='#') Mi Cuenta
            a(href='#') Mis Pedidos
            a(href='#') Wishlist
          .footer-column
            p Legal
            a(href='#') Protección de Marca
            a(href='#') Distribuidores
            a(href='#') Identificar Producto
            a(href='#') Reportar
            a(href='#') Política de Privacidad
            a(href='#') Políticas de Envío
            a(href='#') Devoluciones
            a(href='#') Contacto

