.home
  //margin-top 120px

  &-carrousel
    &-desktop
      position relative
      @media $xs
        display none

    &-mobile
      display none
      position relative
      @media $xs
        display block

    &-controls
      position absolute
      z-index 2
      width 100%
      height 100%
      display flex
      justify-content space-between
      align-items center

      div
        width 30px
        cursor pointer

        &:first-child
          transform: rotate(180deg)

        img
          width 100%
          height auto


  &-collections
    background url("../img/backgrounds/background-1.jpg")
    //background-size cover
    display flex
    justify-content space-between
    margin -5px 0 0 0
    @media $xs
      flex-direction column

    div
      &:first-child
        flex-basis 25%

      &:last-child
        flex-basis 65%

    &-action
      display flex
      justify-content center
      align-items center
      flex-direction column
      text-transform uppercase

      h1
        font-size 2.5em
        margin 0 0 0.2em 0
        @media $lg
          font-size 2.3em
        @media $md
          font-size 2em
        @media $xs
          font-size 1.8em

      a
        color $pink
        background-color white
        width 90%
        text-align center
        padding 4px 0
        font-size 1.5em
        border 3px solid $light-pink
        @media $md
          font-size 1.15em
          line-height 1.15em
        @media $xs
          width 50%

    &-content
      &:last-child
        margin-top 20px

    &-title
      color $orange
      font-family Letters
      font-size 3.3em
      margin 0 0 20px 0
      @media $md
        font-size 2.7em

    &-images
      display flex
      justify-content center
      flex-wrap wrap

      figure
        width 33.3333%
        @media $xs
          width 50%
          &:last-child
            margin 10px 0 0 0

        img
          width 100%
          height auto

  &-steps
    background url("../img/backgrounds/background-3.jpg")
    position relative

    .separator
      position absolute
      top -75px
      @media $md
        top -50px
      @media $xs
        top -25px
        left 10px

    &-top
      display flex
      align-items flex-end
      @media $xs
        flex-direction column
        align-items center
      div
        flex-basis 28%
        display flex
        flex-direction column
        margin 0 30px 58px 0
        @media $lg
          flex-basis 35%
        @media $xs
          margin 0
        span
          color white
          font-size 1.9em
          text-align center
          margin 20px 0 0 0
          text-transform uppercase

          @media $xs
            margin 10px 0 0 0
            font-size 1.7em

          &:last-child
            color $pink
            background-color white
            width 100%
            text-align center
            padding 4px 0
            border 3px solid $light-pink

      .dress-1
        width 28.5%
        margin 0 0 -15px 0

        @media $xs
          width 70%
          margin 20px 0 0 0

    &-bottom
      display flex
      justify-content flex-end
      margin 50px 0 0 0
      @media $xs
        flex-direction column
        align-items center
        margin 25px 0 0 0
      div
        display flex
        flex-direction column
        text-align center

      .dress-2
        width 30%
        margin -22% 0 0 30px
        @media $xs
          width 70%
          margin 20px 0 0 0

    &-title
      color $pink
      font-size 3.43em
      margin 0
      @media $md
        font-size 3em
      @media $xs
        font-size 2.5em
    &-subtitle
      font-size 2em
      color white
      margin 20px 0 0 0
      @media $md
        font-size 1.75em
      @media $xs
        font-size 1.5em

    &-button
      color white
      background $pink
      width fit-content
      padding 10px 20px
      font-size 1.56em
      border-radius 5px
      margin 20px auto 0 auto

  &-decoration
    background url("../img/backgrounds/background-1.jpg")
    overflow auto
    position relative

    &-title
      color $pink
      font-size 4em
      text-align center
      @media $sm
        font-size 3.7em
      @media $xs
        font-size 3.3em

    &-images
      display flex
      justify-content space-between
      margin 0 0 80px 0
      flex-wrap wrap
      flex-grow 1
      @media $sm
        justify-content space-around
      figure
        width 19%
        @media $sm
          flex-basis 25.1%
        @media $xs
          flex-basis 35%


    &-sections
      display flex
      justify-content space-around
      flex-wrap wrap

      div
        flex-basis 32%
        @media $sm
          flex-basis 40%
          margin 0 0 30px 0
        @media $xs
          flex-basis 80%

        .title
          color $dark-pink
          text-align center
          text-transform uppercase
          margin 20px 0 10px 0
          @media $xs
            font-size 2em
            margin 20px 0 10px 0

        .subtitle
          text-align center
          display block
          margin 0 auto
          line-height 1.8
          color white
          font-size 1.35em
          @media $xs
            font-size 1.8em

  &-gifts
    position relative
    background url("../img/backgrounds/background-3.jpg")

    .separator
      position absolute
      top -75px
      @media $md
        top -50px
      @media $xs
        top -25px
        left 10px

    &-content
      width 90%
      margin 0 auto
      @media $lg
        width 100%

    &-subtitle
      color white
      text-align center
      font-size 2.1em
      margin 0 0 16px 0
      @media $sm
        font-size 1.8em

    &-images
      display flex
      justify-content space-between

      figure
        height 27vw
        display inline-block
        @media $sm
          display none

        img
          height 100%
          width auto

    .embed-responsive
      padding-bottom 27vw

      &-wrapper
        flex-grow 1
        margin 0 0 0 20px
        @media $sm
          margin 0
  &-newsletter
    background $pink
    overflow auto
    h1
      color white
      text-align center
      @media $xs
        font-size 1.5em
    &-form
      text-align center
      &-input
        position relative
        display inline-block
        width 30%
        @media $lg
          width 40%
        @media $sm
          width 60%
        @media $xs
          width 80%
        input
          background rgba(255,255,255,  0.5)
          padding 5px 10px
          border-radius 30px
          height 35px
          width 100%
        button
          padding 0
          border-radius 50%
          height 35px
          width 35px
          position absolute
          right 0
          img
            width 20px
            height auto
            margin 5px 1px 0 0
      &-terms
        display flex
        align-items center
        justify-content center
        margin 7px 0 0 0
        input
          margin 0 5px 0 0
        span
          font-size 0.8em
          @media $sm
            font-size 1.2em

