.footer
  background #dededb
  display flex
  justify-content space-around
  padding 50px 30px

  &-column
    p
      text-transform uppercase
      margin 0 0 1em 0
    a
      display block
      text-decoration none
      color black