.nav
  height 120px
  left 0
  top 0
  background-image url("../img/backgrounds/navbar.jpg")
  width 100%
  z-index 12

  &-container
    align-items center
    display flex
    justify-content space-between
    height 100%

  &-logo
    height 73px
    width auto
    margin 0 20px

  &-option
    height 100%
    margin-right 15px
    position relative

    &-wrapper
      display flex
      justify-content space-between
      height 100%
      flex-basis 100%
    &-container
      align-items center
      display flex
      justify-content space-between
      height 100%

      &:first-child
        flex-basis 55%

      &:last-child
        flex-basis 35%
        @media $lg
          flex-basis 40%

    &-link
      height 100%
      display flex
      align-items center
      text-decoration none
      font-size 1.6em
      font-weight $semibold

      span
        text-align center
        color $dark-pink
        text-shadow: -1.5px 1.5px 0 #fff, 1.5px 1.5px 0 #fff, 1.5px -1.5px 0 #fff, -1.5px -1.5px 0 #fff;

    &-input
      color $dark-pink
      outline none
      padding 8px
      border-radius 15px
      border transparent
      flex-basis 100%
      width 20%
      flex-wrap wrap
      margin-right 13px
      font-family 'Linotte'

      &::placeholder
        color $dark-pink
        font-family 'Linotte'

      &::-webkit-input-placeholder
        color $dark-pink
        font-family 'Linotte'

    &-icons
      display flex

      &-image
        width 30px
        height auto
        color $dark-pink
        margin-right 9px
        @media $lg
          width 25px

.hamburger
  display none

  &-menu-container
  &-wrapper
  &-submenu
    display none


@media screen and (max-width: 888px)
  .nav
    background $pink
    height 85px
    &-logo
      height 53px
      margin 0 20px

    &-option-wrapper
      display none

  .hamburger
    &-wrapper
      display flex
      justify-content flex-end
      flex-grow 1
      height 100%

    &-line
      background-color white
      height 3px
      width 26px

      &:nth-child(2)
        margin 4px 0

      &:last-child
        width 12px

      &-container
        display flex
        flex-direction column
        justify-content center
        padding 0 1em

    &-menu
      background-color $pink
      width 75%
      position absolute
      top 0
      bottom 0
      right 0

      &-container
        background white
        display inline
        bottom 0
        right 0
        overflow scroll
        padding-bottom 50px
        position fixed
        top 0
        transition width 0.3s, background 0.5s
        -webkit-transition width 0.3s, background 0.5s
        width 0
        z-index 13

      &-header
        align-items center
        display flex
        flex-direction row
        justify-content flex-end
        padding 22px 36px 50px 36px
        a
          width 20px
          cursor pointer
          img
            width 100%

      &-body
        margin 0 25px

    &-text
      color white
      letter-spacing 1.5px
      white-space nowrap
      font-size 17px

      &-container
        padding 15px 0

        a
          text-decoration none

#hamburgerMenu
  cursor pointer
