@font-face {
  font-family: 'Linotte';
  src: url('../fonts/Linotte/linotte-semibold-regular-webfont.woff2') format('woff2'),
          url('../fonts/Linotte/linotte-semibold-regular-webfont.woff') format('woff');
  font-weight: $semibold;
  font-style: normal;
}

@font-face {
  font-family: 'Letters';
  src: url('../fonts/Letters/letters-for-learners-webfont.woff2') format('woff2'),
          url('../fonts/Letters/letters-for-learners-webfont.woff') format('woff');
  font-weight: $regular;
  font-style: normal;
}