.container
  margin-right auto
  margin-left auto
  @media screen and (max-width: 767px)
    padding 0 18px
  @media screen and (min-width: 768px)
    width 600px
  @media screen and (min-width: 962px)
    width 940px
  @media screen and (min-width: 1200px)
    width 1170px

.font-pink
  color $pink
  text-shadow: -1.5px 1.5px 0 #fff, 1.5px 1.5px 0 #fff, 1.5px -1.5px 0 #fff, -1.5px -1.5px 0 #fff;

.white-text-shadow
  color $pink
  text-shadow 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff

.embed-responsive
  height 0
  padding 0
  position relative
  display block
  overflow hidden

.embed-responsive iframe, .embed-responsive object, .embed-responsive embed, .embed-responsive video
  position absolute
  top 0
  bottom 0
  left 0
  width 100%
  height 100%
  border 0

.home-section
  padding 35px 50px
  @media $md
    padding 25px 20px
  @media $xs
    padding 30px 15px